/* color legend styles for charts */
.legend-container{
  display: flex;
  flex-wrap: wrap;
  height: 12px;
  padding: 0px;
}
.legend-square{
  width: 12px;
  height: 12px;
  margin-top: 5px;
}
.legend-label{
  font-size: .9rem;
  padding: 0px 16px 0 8px;
}
/* other */
.vis-div{
  background-color: var(--gray-200);
  padding: 24px 32px;
}
.vis-div h6{
  color: var(--gray-700);
}
.column-flex{
  display: flex;
  flex-direction: column;
  flex: 1 1 22.5rem;
  justify-content: space-between;
  height: 340px;
}
.stat-card-source{
  color: var(--gray-500);
  font-size: 1rem;
  line-height: 1.4rem;
}
.stat-card-notes{
  color: var(--gray-600);
  font-size: .9rem;
}
.stat-card-description{
  font-size: 1.25rem;
}
.flex-inner-div-0{
  flex: 1 1 10rem;
}
.flex-inner-div-1{
  flex: 3 1 45rem;
}
.flex-inner-div-1a{
  flex: 1 1 15rem;
}
.hide-div{
  display: none;
}
/* map and legend styles */
.map{
  height: 400px;
  width: 100%;
  border-bottom: #f7f7f7 1px solid;
}
.map-legend-container{
  padding: 5px 10px;
  background-color: #FFF;
}
.map-legend-container .title{
  padding-bottom: 5px;
  font-size: 0.9rem;
}

.rwi-legend-pattern{
  background-image: url('../assets/diagonal-hatch-white_30.png');
  width: 300px;
  height: 12px;
  background-color:#ccc;
}