.legend-container{
  display: flex;
  height: 12px;
  padding: 0px;
}
.legend-square{
  width: 12px;
  height: 12px;
  margin-top: 5px;
}
.legend-label{
  font-size: .9rem;
  padding: 0px 16px 0 8px;
}
.vis-div{
  background-color: var(--gray-200);
  padding: 24px 32px;
}